
<div class="bujinkanwrp"></div>

<div class="about">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 style="color: #D0312D;">BUJINKAN (武神館)</h3>
                <p><span style="color: #D0312D;">Bujinkan Budo Taijutsu</span> é uma organização de artes marciais, criada pelo Dr. Masaaki Hatsumi em 1972 para promover a arte ninja e as nove antigas tradições do guerreiro.</p>
                <p>A organização é composta por um conjunto de nove escolas ou tradições (ryū), com três estilos de Ninjutsu e outros estilos da tradição Samurai e Budo.</p>
                <p>Soke Hatsumi teve seu primeiro contato com o Ninjutsu através de seu sensei Takamatsu Toshitsugu, que, por sua vez, obteve boa parte de seus conhecimentos em artes marciais por meio de Toda Shinryuken Masamitsu (avô de Takamatsu e soke das escolas Shinden Fudo Ryu, Koto Ryu Koppo-Jutsu, Gyokko Ryu Kosshi-Jutsu, Togakure Ryu Ninpo, Gyokushin Ryu Ninpo e Kumogakure Ryu Ninpo). O avô de Takamatsu era um samurai e um descendente direto do fundador de Gyokko Ryu.</p>
                <p>Hatsumi foi aluno de Takamatsu Sensei durante os anos 50 e 60. Hatsumi Sensei treinou constantemente com Takamatsu Sensei durante 15 anos. Antes de falecer, Takamatsu Sensei transmitiu a Hatsumi Sensei o título de Soke, ou seja, titular de todo conhecimento antes guardado por ele, junto com toda antiga documentação, tornando Hatsumi Soke de todas as Artes Marciais que lhe tinham sido transmitidas.</p>
            </div>

            <div class="col-md-12">
                <p>A Bujinkan é mais comumente associada com o ninjutsu. No entanto, Masaaki Hatsumi usa o termo Budo (caminho marcial), uma vez que ele diz que as ryūha são descendentes de escolas samurais históricas – que ensinam táticas marciais samurai e de escolas de ninjutsu que ensinam táticas ninja.</p>
                <p>Em 1972, após receber os títulos de Soke de Takamatsu Sensei, Hatsumi fundou a Bujinkan, que significa “Casa do Guerreiro Divino”. Ele lhe deu este nome em homenagem a Takamatsu Sensei.</p>
                <p>A Bujinkan foi criada para dar continuidade ao ensino do Ninjutsu através do mundo. Por conta disso, Hatsumi foi condecorado pelo imperador Hirohito como uma relíquia cultural, sendo hoje considerado um patrimônio vivo para a nação japonesa.</p>
                <p>Nosso dojo da Bujinkan Ninpo-Hikan se encontra nas cidades de Sumaré onde tudo começou em 2015 e se encontra na divisa de Valinhos e no centro de Itatiba, além de ser um local de prática e aprendizado das artes marciais das nove escolas, também quer contribuir para a difusão da cultura japonesa.</p>
            </div>

        </div>
    </div>
</div>