
<div class="headerwrp"></div>

<div style="padding: 2em 0 2em 0;">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h5>INSTRUTOR EDMILSON GIGLIO RECONHECIDO PELA HONBU DOJÔ DO JAPÃO<br/>MEMBRO DA SHIDOSHI-KAI - ASSOCIAÇÃO INTERNACIONAL DE INSTRUTORES-SOKE MASAAKI HATSUMI</h5>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h3 style="color: #D0312D;">BUJINKAN (武神館)</h3>
                <p><span style="color: #D0312D;">Bujinkan Budo Taijutsu</span> é uma organização de artes marciais, criada pelo Dr. Masaaki Hatsumi em 1972 para promover a arte ninja e as nove antigas tradições do guerreiro.</p>
                <p>A organização é composta por um conjunto de nove escolas ou tradições (ryū), com três estilos de Ninjutsu e outros estilos da tradição Samurai e Budo.</p>
                <p>A Bujinkan foi criada para dar continuidade ao ensino do Ninjutsu através do mundo. Por conta disso, Hatsumi foi condecorado pelo imperador Hirohito como uma relíquia cultural, sendo hoje considerado um patrimônio vivo para a nação japonesa.</p>
                <p>O dojo <span style="color: #D0312D;">Bujinkan Ninpo-Hikan</span> se encontra nas cidades de Sumaré onde tudo começou em 2010 e na divisa de Valinhos e no centro de Itatiba, além de ser um local de prática e aprendizado das artes marciais das nove escolas, também quer contribuir para a difusão da cultura japonesa.</p>
                <a class="btn btn-danger mb-4" [routerLink]="['/bujinkan']">Ler +</a>
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="./assets/img/info.jpeg">
            </div>

        </div>
    </div>
</div>

<div style="padding-top: 4em;">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center" style="padding-bottom: 1em;">
                <h5 style="color: #D0312D;">MODALIDADES</h5>
            </div>

            <div class="col-md-6">
                <h5 style="color: #D0312D;">NINJUTSU</h5>
                <p><span style="color: #D0312D;">Ninjutsu (忍術)</span> é uma arte japonesa praticada pelos ninjas, ou também conhecido como Shinobi. Os ninjas eram os agentes secretos da época feudal do Japão. Especialistas em auto defesa em proteger sua vida e sua família. Um ninja <span style="color: #D0312D;">(忍者)</span> ou shinobi <span style="color: #D0312D;">(忍び)</span> era um agente secreto ou mercenário do Japão feudal especializado em artes de guerra não ortodoxas. As funções do ninja incluíam espionagem, sabotagem, infiltração, assassinato e guerrilha assim como combate aberto em determinadas situações.</p>
                <a class="btn btn-danger mb-4" [routerLink]="['/ninjutsu']">Ler +</a>
            </div>

            <div class="col-md-6">
                <h5 style="color: #D0312D;">GOSHIN JUTSU</h5>
                <p><span style="color: #D0312D;">Arte da Defesa Pessoal</span> que habilita qualquer pessoa a se defender de maneira simples e rápida de qualquer tipo de agressão, onde não haja espaço para lances coreográficos, regras ou competições esportivas. Sua palavra-chave é a objetividade, o objetivo é a auto defesa segura e eficaz para a sobrevivência do homem diante da realidade violenta e hostil em que vivemos.</p>
            </div>

            <div class="col-md-6">
                <h5 style="color: #D0312D;">SEISHIN-TEKI-KYO'YO (refinamento espiritual)</h5>
                <p><span style="color: #D0312D;">Seishin-Teki-Kyo'yo (精神 的 教養)</span> é a educação espiritual em Ninjutsu. Descreve os aspectos mentais, espirituais e emocionais que acompanham a prática do Ninjutsu Bujinkan e especialmente como dizia Takamatsu Sensei.</p>
                <p>Na Ninpo-Hikan Dojô esta aula é composta de meditação exercícios de respiração profunda e terapia corporal baseado em movimentos marciais.</p>
                <p>O conteúdo exato desses aspectos dentro da <span style="color: #D0312D;">Bujinkan Ninpo-Hikan Dojô</span> é o refinamento espiritual através dos 17 preceitos e o conceito do budo. Esses conceitos educacionais podem ser interpretados por meio do Shugendo e do Budismo Zen.</p>
                <p>Pode ser interessante o fato de que nenhum desses princípios de Takamatsu se trata de vencer batalhas ou lidar com o medo, mas todos são aspectos do desenvolvimento espiritual geral.</p>
                <p>1 - Autoconhecimento<br/>2 - Compreendendo a natureza (realidade)<br/>3 - Destino (conhecer o próprio destino ou chamado)<br/>4 - Harmonia<br/>5 - O coração (kokoro)<br/>6 - O olho<br/>7 - Amor</p>
            </div>

            <div class="col-md-6">
                <h5 style="color: #D0312D;">NINJA KIDS</h5>
                <p><span style="color: #D0312D;"></span>A prática das artes marciais é um excelente meio para aprimorar a coordenação motora e flexibilidade das crianças. Além disso, artes como o Judô ou Karatê, contribuem para a evolução do condicionamento físico e aumento da resistência, melhora dos reflexos e da mobilidade das articulações e fortalecimento do sistema imunológico infantil. É possível notar o aumento da concentração, foco, autoestima e autoconfiança dos pequenos.</p>
            </div>

        </div>
    </div>
</div>

<div class="attendance">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center">
                <h4 style="color: #D0312D;">FAÇA UMA AULA EXPERIMENTAL GRATUITA</h4>
                <p>A Bujinkan Ninpo Hikan Dojô é um dojo especializado para as artes marciais e filosofia japonesa. Foi inaugurado dia 10 de junho de 2011 na cidade de Sumaré este nome foi dado pelo fundador e Sensei Edmilson Giglio como propósito de propagar os pergaminhos secretos das artes milenares japonesas. Praticante das artes marciais desde 1981.</p>
                <a href="https://api.whatsapp.com/send?phone=5519984207736" target="_blank">
                    <img class="img-fluid" src="./assets/img/WhatsApp_Logo_1.png">
                </a>
                <p>19 98420-7736<br/>Sensei Edmilson Giglio</p>
            </div>

            <div class="col-md-6">
                <h5 style="color: #D0312D;">Bujinkan (神武館)</h5>
                <p>"Casa do Guerreiro Divino"<br/> Ideograma japonês em Kanji, portanto, cerca de Bujinkan pode ser equiparada a "Casa do Guerreiro Divino", Hatsumi-soke deu este nome em homenagem a Takamatsu Sensei.</p>
                
                <h5 style="color: #D0312D;">"Ninpō-hikan" (忍法ひかん)</h5>
                <p>"Rolos e pergaminhos secretos do ninpo"<br/> Inue Masayasu, um descendente de família ninja da província de Iga, escreveu esse manuscrito em um úni co volume durante o período Shoho (1644-1648). O manuscrito contém os "ensinamentos secretos" de ninjutsu da escola Iga-Ryu.</p>
                
                <h5 style="color: #D0312D;">Dojô (道場)</h5>
                <p>“Local do caminho”<br/> Dojo ou Dojô (em japonês: 道場 Dōjō, “Local do caminho”) é o local onde se treinam artes marciais japonesas. Muito mais do que uma simples área, o dojô deve ser respeitado como se fosse a casa dos praticantes. Por isso, é comum ver o praticante fazendo uma reverência antes de adentrar, tal como se faz nos lares japoneses.</p>
            </div>

        </div>
    </div>
</div>

<div style="padding-bottom: 2em;">
    <div class="container text-center">
        <div class="row">

            <div class="col-md-4 d-none" style="padding-top: 2em;">
                <h5 style="color: #D0312D;">DOJÔ 1</h5>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.6553450318975!2d-46.892735384417506!3d-22.962916845650767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8d496d4352e83%3A0x79365739f53a77b0!2sR.%20F%C3%A1bio%20Arruda%2C%20545!5e0!3m2!1spt-BR!2sbr!4v1633446887375!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                R. Fábio de Arruda, 545 - Recanto dos Pássaros<br/>Itatiba - SP, 13257-847
            </div>

            <div class="col-md-4" style="padding-top: 2em;">
                <!-- <h5 style="color: #D0312D;">AABB SUMARÉ</h5> -->
                <h5 style="color: #D0312D;">DOJÔ - AABB SUMARÉ</h5>
                <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.124631684956!2d-47.26349768540226!3d-22.834878041049034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8bd051cd72209%3A0x7ba4d2a4886d37f0!2sAABB%20Sumar%C3%A9!5e0!3m2!1spt-BR!2sbr!4v1632869330391!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                R. João Francisco Yanssen, 125 - Vila Juliana<br/>Sumaré - SP, 13171-160
            </div>

            <div class="col-md-4 d-none" style="padding-top: 2em;">
                <!-- <h5 style="color: #D0312D;">CARVALHO DOJO</h5> -->
                <h5 style="color: #D0312D;">DOJÔ 3</h5>
                <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.414492154763!2d-46.847657085397785!3d-23.008548547293742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf2b67802db5e3%3A0x72b41f4596ac0f5c!2sCarvalho%20DOJO%20-%20Centro%20de%20Artes%20Marciais!5e0!3m2!1spt-BR!2sbr!4v1632869405631!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                R. Máximo Panzarin, 118 - Jardim Belem<br/>Itatiba - SP, 13256-311
            </div>

        </div>
    </div>
</div>
